form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-size: 30px;
    padding-left: 8em;
    
}
h1 {
    color: rgb(250, 248, 248);
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    padding-top: 5em;

}
html {
    background-color: rgb(4, 18, 97);

}
