

h1 {
    line-height: 50%;
    margin-left: 100;
    margin-right: 100;
    color: #70c4de;
    font-family:'Roboto', sans-serif;
    text-align: right;
    font-size: 100px;
    padding-top: 10em;
    
}
p {
   line-height: 100%;
    text-align: center;
   margin-left: 100;
   margin-right: 100;
   color: #ffffff; 
   font-size: 50px;
   max-width: 100%;
}
    html {
        background: #eee url('llama.jpg')no-repeat center;

}