
body {
    
}
h1 {
    line-height: 325%;
    margin-left: 25;
    margin-right: 100;
    color: #ffffff;
    font-family:'Roboto', sans-serif;
    text-align: right;
    
}
h2 {
   text-align: right;
   margin-left: 25;
   margin-right: 100;
   color: #ffffff; 
   font-family:'Roboto', sans-serif;
   font-size: 30px;
   max-width: 85%;
}
    html {
        background: #eee url('llama.jpg')no-repeat center;

    }